/*
Project Name: Monthly Resolutions
Client: One Month
Author: Tom Brennan | @tommybgreat
*/


/*-----------------------------------------------------------------------------
01=BASE
-----------------------------------------------------------------------------*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

body {
  background: #ecf0f1;
}

a {
  text-decoration: none;
}

.clear {
	clear: both;
}

.alignleft {
  float: left;
  margin: 0 15px 15px 0;
}

.alignright {
  float: right;
  margin: 0 0 15px 15px;
}


/*-----------------------------------------------------------------------------
02=CONTAINER
-----------------------------------------------------------------------------*/

#container {
  width: 1000px;
  margin: 0 auto 0 auto;
}

/*-----------------------------------------------------------------------------
03=MAIN
-----------------------------------------------------------------------------*/

#header {
  font-family: 'Lato', sans-serif;
  padding: 50px;
}

#main {
  background: white;
  margin: 10px;
  width: 680px;
  padding: 50px;
  float: left;
}

#sidebar {
  background: white;
  margin: 10px;
  width: 280px;
  padding: 50px;
  float: left;
}

#footer {
  background: White;
  padding: 10px;
}
